{% extends 'bootstrap3/bootstrap3.html' %}
{% load static %}
{% load page_tags %}

{% block bootstrap3_extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
{% endblock %}

{% block bootstrap3_title %}{% block title %}{% endblock %}{% endblock %}

{% block bootstrap3_content %}
<div id="page">

    {% render_topheader %}

    {% render_topnavbar %}

    <div class="bottom-bg">
        {% block content %}{% endblock %}
    </div>

    {% render_footer %}

</div>
{% endblock %}
{% block bootstrap3_extra_script %}

    {% block scripts %}
        {{ block.super }}
     {% endblock %}
    <script src="{% static 'js/jquery.jcarousel.min.js' %}"></script>

    <script src="{% static 'js/jquery.bootstrap-dropdown-hover.min.js' %}"></script>

    <script type="text/javascript">

    function jcarousel_move(left){
        var direction = "+=1";
        if(left){
            direction = "-=1";
        }
        $('.jcarousel').jcarousel('scroll',direction);
    }
    $(document).ready(function(){
        $('.jcarousel').jcarousel({
            list: '.jcarousel-list',
            items: '.jcarousel-item'
        });
        $('#top-navbar [data-toggle="dropdown"]').bootstrapDropdownHover({
          // see next for specifications
        });
        $("#travel-menu li").load("{% url 'travel_info' %}");
    });
    </script>



{% endblock %}

