{% extends 'website/base.html' %}
{% block title %}FourWinds{% endblock %}
{% load static %}
{% load page_tags %}
{% block content %}
<div class="clearfix"></div>
<div id="home">

    <div id="our-story">
        <div class="col-md-5 pull-right" id="our-story-body">
            <h2 class="title">OUR STORY</h2>
            <p>Four Winds Tours & Travel was established in 1994 for the purpose of creating
                a memorable experience for students and other groups while ensuring their safety
                and well-being.</p>
            <p>Each trip is packed with fun and excitement to any destination of your choosing!
                For over a decade, we continue to specialize in tours for High Schools,
                Middle and Elementary Schools, as well as Camps, Youth Organizations,
                Adult Groups, etc. We also customize trips for each department and fit the group’s
                unique needs, such as performance planning, clinics, workshops, Behind the Scene tours,
                Space Camp, exclusive events, special meals, handicap accessibility,
                and any other requests.</p>
            <p>With just one phone call or click to Four Winds, you can be rest assured that our
                team will provide quality service, a wide variety of travel options,
                a safe trip environment, and unforgettable experiences while working within your
                budget and needs.</p>
            <p><b>While on the road, we can be reached 24/7<br/>
                with our toll-free number 1-800-896-3858.</b></p>
        </div>
        <div class="clearfix"></div>
    </div>

    {% render_widgets %}

    <hr class="space">

    {% render_get_started_form %}

    <hr class="space"/>

    {% render_welcome_signin_form %}

    {% render_testimonials %}
</div>
{% endblock %}
