{% extends 'website/base.html' %}
{% block title %}FourWinds{% endblock %}
{% load static %}
{% load page_tags %}
{% block content %}

    <div id="request_quote" class="container" >
        <h3 class="title">REQUEST A QUOTE</h3>
        <h5 class="subtitle">Whatever your budget, whatever your timeline...</h5>
        <div class="box">
            <form action="{% url 'request_quote' %}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="id" value="{{ quote_id }}" />
                {% csrf_token %}
                <div id="step-two">
                    <div class="col-md-12">
                        <h4>Additional Details</h4>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <select class="form-control" name="followup_time">
                                <option>Best time for follow up</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input class="form-control" name="chaperones"
                                   placeholder="Number of Chaperones"/>
                        </div>
                        <div class="form-group">
                            <input class="form-control" name="department"
                                   placeholder="School Department"/>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <select class="form-control" name="transportation">
                                <option>Transportation Required</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input class="form-control" name="preferred_airport"
                                   placeholder="Preferred Airport"/>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                Meals to include
                            </div>
                            <div class=" col-sm-3">
                                <label>
                                  <input type="checkbox" name="meal" value="breakfast"> Breakfast
                                </label>
                            </div>
                            <div class="col-sm-3">
                                <label>
                                  <input type="checkbox" name="meal" value="lunch"> Lunch
                                </label>
                            </div>
                            <div class="col-sm-3">
                                <label>
                                  <input type="checkbox" name="meal" value="dinner"> Dinner
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="text-center">
                        <h4>Include an Attachment:</h4>
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-md-6 text-right">
                                    <label style="line-height:34px;padding-top: 12px">choose your file</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <a class="btn btn-default" href="javascript:void(9);"
                                       onclick="$('#details_attachment').trigger('click');"
                                        style="height: 48px;line-height:34px;border-radius: 0px;background: rgb(204, 204, 204) none repeat scroll 0% 0%;">
                                        Upload File
                                    </a>
                                    <input class="form-control hide" id="details_attachment" type="file" name="attachment"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-submit" value="SUBMITT"/>
                    </div>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>

    <div class="clearfix"></div>

    {% render_testimonials %}

{% endblock %}