{% extends 'website/base.html' %}
{% block title %}FourWinds{% endblock %}
{% load static %}
{% load page_tags %}
{% block content %}
<div class="clearfix"></div>


    <div class="container" id="testimonials">
        <h2 class="title">Testimonials</h2>
        <div class="well">
            {%  for row in data %}
            <div class="item testimonial {%  if forloop.counter == 1 %} active {% endif %}">
                <p>
                    <img src="{% static 'img/testimonial/quote.png' %}" alt="" class="quote">
                    {{ row.text }}
                </p>
                <p class="autor">
                    - {{ row.full_name }}, {{ row.organization }},
                        {{ row.trip }}
                        {% if row.event %}
                        trip with {{ row.event }},
                        {% endif %}
                        {{ row.date }}

                </p>
            </div>
            {% endfor %}
        </div>
    </div>



{% endblock %}
