{% extends 'website/base.html' %}
{% block title %}FourWinds{% endblock %}
{% load static %}
{% load page_tags %}
{% block content %}

    <div id="travel">
{#        Carousel#}
        <div class="jcarousel">
            <ul class="jcarousel-list">
                {% for trip in trips %}
                <li class="jcarousel-item">
                    <div class="event-back" style="display: none">
                        <h4>{{ trip.title }}</h4>
                        <p>{{ trip.description }}</p>
                        <a href="{% url 'trip' trip.id %}" class="btn ">
                            LEARN MORE &#10095;&#10095;
                        </a>
                    </div>
                    <div class="event-front">
                        <img src="/media/{{ trip.photos.0.photo }}" alt="{{ trip.title }}" width="540"/>
                    </div>
                </li>
                {% endfor %}
            </ul>
            <a class="left carousel-control" href="javascript:jcarousel_move(true);" role="button" data-slide="prev">
                <span class="icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="javascript:jcarousel_move(false);" role="button" data-slide="next">
                <span class="icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
{#        End Carousel#}
        <div class="events container">
            <h3 class="pull-left">UPCOMING EVENTS</h3>
            <div class="form-group pull-right col-sm-3">
                <select class="form-control" onchange="javascript:filter_events(event)">
                    <option value="0">All</option>
                    {% for row in months %}
                    <option value="{{ row.year_month }}"
                    {% if year_month == row.year_month %}
                        selected
                    {% endif %}
                    >{{ row.date }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="clearfix"></div>
            <div class="events-list">
                {% for event in events %}
                <div class="event col-md-6">
                    <div class="row">
                        <h4 class="event-title">{{ event.title }}</h4>
                        <div class="event-content">
                            <p>{{ event.description }}</p>
                        </div>
                        <a href="{% url 'event' event.id %}" class="btn btn-learn-more">
                            LEARN MORE &#10095;&#10095;
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>

    <div class="clearfix"></div>

    {% render_testimonials %}

{% endblock %}

{% block scripts %}
<script src="{% static 'js/jquery.jcarousel.min.js' %}"></script>
<script type="text/javascript">
function filter_events(e){
    var val = $(e.currentTarget).val()
    window.location.href = '{% url 'travel' %}'+val
};
$(document).ready(function() {
    $('.jcarousel').jcarousel();
    $('.jcarousel li').mousemove(function(){
{#        $('.event-front',this).hide();#}
        $('.event-back',this).show();
    }).mouseleave(function(){
{#        $('.event-front',this).show();#}
        $('.event-back',this).hide();
    });
});
</script>
{%  endblock %}