{% load static %}
<li class="hidden-sm hidden-xs" >
    <div id="travel-menu-content">
        <div class="col-md-3">
            {% for subcat in subcategories %}
                {% for item in subcat.events %}
                    <img src="{% get_media_prefix %}{{ item.photos.0.photo }}" id="photo-items-id-event{{ item.id }}" class="item-photos " onerror="this.src='{% static 'img/no-image-featured-image.png' %}'"/>
                {% endfor %}
                {% for item in subcat.trips %}
                    <img src="{% get_media_prefix %}{{ item.photos.0.photo }}" id="photo-items-id-trip{{ item.id }}" class="item-photos " onerror="this.src='{% static 'img/no-image-featured-image.png' %}'"/>
                {% endfor %}
            {% endfor %}
        </div>
        <div class="col-md-2">
            <ul>
                {% for cat in categories %}
                <li><a href="{% url 'category_travels' cat.id %}" data-cat-id="{{ cat.id }}" class="categories">{{ cat }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-2 menu-divider">
            <ul>
                {% for sub in subcategories %}
                <li><a href="{% url 'category_travels' sub.category.id %}" data-cat-id="{{ sub.category.id }}" data-subcat-id="{{ sub.id }}" class="subcategories subcats-cat-id-{{ sub.category.id }}">{{ sub }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-5 menu-divider">
            <div class="">
                {% for subcat in subcategories %}
                <div id="subcat-items-{{ subcat.id }}" class="subcat-items">
                    <div class="col-md-4">
                        <div class="row">
                            <ul>
                            {% for item in subcat.events %}
                                <li><a href="{% url 'event' item.id %}"  class="items-list"
                                       data-subcat-id="{{ subcat.id }}"
                                       data-item-id="{{ item.id }}" data-item-type="event">{{ item.title }}</a></li>
                            {% endfor %}
                            {% for item in subcat.trips %}
                                <li><a href="{% url 'trip' item.id %}"  class="items-list"
                                       data-subcat-id="{{ subcat.id }}"
                                       data-item-id="{{ item.id }}" data-item-type="trip">{{ item.title }}</a></li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                        {% for item in subcat.events %}
                            <div id="subcat-{{ subcat.id }}-item-desc-event{{ item.id }}" class="item item-desc">
                                <div class="title">{{ item.title }}</div>
                                <p>{{ item.description|slice:":400" }}...</p>
                                <div class="clearfix"></div>
                                <a href="{% url 'event' item.id %}" class="btn btn-submit">LEARN MORE</a>
                            </div>
                        {% endfor %}
                        {% for item in subcat.trips %}
                            <div id="subcat-{{ subcat.id }}-item-desc-trip{{ item.id }}" class="item item-desc">
                                <div class="title">{{ item.title }}</div>
                                <p>{{ item.description|slice:":400" }}...</p>
                                <div class="clearfix"></div>
                                <a href="{% url 'trip' item.id %}" class="btn btn-submit">LEARN MORE</a>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</li>

{% for cat in categories %}
<li class="dropdown-submenu hidden-md hidden-lg">
    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" id="{{ cat.id }}-menu"
       data-target="#submenu-{{ cat.id }}"
       aria-haspopup="true" aria-expanded="false">
        {{ cat }}
    </a>
    <ul class="dropdown-menu hidden-md hidden-lg" aria-labelledby="{{ cat.id }}-menu" id="submenu-{{ cat.id }}">
        {% for subcat in cat.subcategories %}
        <li class="dropdown-submenu hidden-md hidden-lg">
            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button"
                aria-haspopup="true" aria-expanded="false">{{ subcat }}</a>
            <ul class="dropdown-menu hidden-md hidden-lg">
                {% for item in subcat.items %}
                <li class="hidden-md hidden-lg">
                    <div class="hidden-md hidden-lg">
                        <div class="col-sm-2">
                            <h4>{{ item.title }}</h4>
                            <img src="{% get_media_prefix %}{{ item.photos.0.photo }}" id="photo-items-id-event{{ item.id }}" class="item-photos " onerror="this.src='{% static 'img/no-image-featured-image.png' %}'"/>
                        </div>
                        <div class="col-sm-2">
                            <div>
                            {{ item.description|slice:":100" }}...
                            </div>
                            <a href="{% url item.type item.id %}" class="btn btn-default btn-sm pull-right">LEARN MORE</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</li>
{% endfor %}

<script type="text/javascript">
    function hide_items(){
        $('#travel-menu-content .item-photos').hide();
        $('#travel-menu-content .subcategories').hide();
        $('#travel-menu-content .subcat-items').hide();
        $('#travel-menu-content .item-desc').hide();
    }
    function select_item(e) {
        var id = $(e.currentTarget).data('item-id');
        var subcat_id = $(e.currentTarget).data('subcat-id');
        var type = $(e.currentTarget).data('item-type');
        $('#travel-menu-content .item-desc').hide();
        $('#travel-menu-content .item-photos').hide();
        $('#subcat-'+subcat_id+'-item-desc-'+type+id).show();
        $('#photo-items-id-'+type+id).show();
        console.log('photo id', '#photo-items-id-'+type+id);
        console.log("photo class", $('#photo-items-id-'+type+id).attr('class'));
        e.stopPropagation();
    }
    function select_subcategory(e){
        var id = $(e.currentTarget).data('subcat-id');
        $('#travel-menu-content .subcat-items').hide()
        $('#subcat-items-'+id).show();
        $('#subcat-items-'+id+' .items-list:first').trigger('mouseover');
        e.stopPropagation();
    }
    function select_category(e){

        var id = $(e.currentTarget).data('cat-id');
        hide_items()
        $('.subcats-cat-id-'+id).show();
        $('.subcats-cat-id-'+id+':first').trigger('mouseover');
        e.stopPropagation();
    }


    $(document).ready(function(){
        // Hide items
        hide_items()


        $('#travel-menu-content .items-list').on('mouseover',select_item);
        $('#travel-menu-content .categories').on('mouseover',select_category);
        $('#travel-menu-content .subcategories').on('mouseover',select_subcategory);
        $('#travel-menu-content .categories:first').trigger('mouseover');

        $('.dropdown-submenu [data-toggle=dropdown]').on('click', function(event) {
			event.preventDefault();
			event.stopPropagation();
			$(this).parent().siblings().removeClass('open');
			$(this).parent().toggleClass('open');
		});
    });


</script>