{% load static %}
<div class="">
<div id="travel-menu-content" class="">
    <div class="col-md-4">
        {% for cat in categories %}
            {% for event in cat.events %}
                <img src="/media/{{ event.photos.0.photo }}" id="photo-event-id-{{ event.id }}" class="event-photos hide" width="400"/>
            {% endfor %}
        {% endfor %}
    </div>
    <div class="col-md-2">
        <ul>
            {% for cat in categories %}
            <li><a href="javascript:void(0);" onclick="javascript:select_category(event)"  data-cat-id="{{ cat.id }}" class="categories">{{ cat }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-6" id="divider">
        <div class="">
            {% for cat in categories %}
            <div id="cat-events-{{ cat.id }}" class="cat-events hide">
                <div class="col-md-4">
                    <div class="row">
                        <ul>
                        {% for event in cat.events %}
                            <li><a href="javascript:void(0);" onclick="javascript:select_event(event);" class="events-list"
                                   data-event-id="{{ event.id }}">{{ event.title }}</a></li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row">
                    {% for event in cat.events %}
                        <div id="cat-event-desc-{{ event.id }}" class="events hide">
                            <div class="title">{{ event.title }}</div>
                            <p>{{ event.description }}</p>
                            <div class="clearfix"></div>
                            <a href="{% url 'event' event.id %}" class="btn btn-submit">LEARN MORE</a>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</div>
<script type="text/javascript">
    function select_event(e) {
        var id = $(e.currentTarget).data('event-id');
        $('#travel-menu-content .events').addClass('hide');
        $('#cat-event-desc-'+id).removeClass('hide');
        $('#travel-menu-content .event-photos').addClass('hide');
        $('#photo-event-id-'+id).removeClass('hide');
        e.stopPropagation();
    }
    function select_category(e){
        var id = $(e.currentTarget).data('cat-id');
        $('#travel-menu-content .cat-events').addClass('hide');
        $('#cat-events-'+id).removeClass('hide');
        e.stopPropagation();
    }
    travel_menu = document.getElementById('travel-menu-content');
    travel_menu_photos = travel_menu.getElementsByClassName('event-photos');
    if (travel_menu_photos.length > 0){
        travel_menu_photos[0].className = 'event-photos';
    }
    travel_categories = travel_menu.getElementsByClassName('categories');
    if( travel_categories.length >0){
        travel_categories[0].click();
    }
    travel_events = travel_menu.getElementsByClassName('events-list');
    if( travel_events.length >0){
        travel_events[0].click();
    }

</script>