{% extends 'website/base.html' %}
{% block title %}FourWinds{% endblock %}
{% load static %}
{% load page_tags %}
{% block content %}
<div id="category_travels" class="container">
    <ol class="breadcrumb">
        <li><a href="{% url 'travel' %}">Travel</a></li>
        <li class="active">{{ category }}</li>
    </ol>
    <h3 class="title">
        {{ category }}
    </h3>
    <div class="well">
        <ul class="nav nav-tabs" role="tablist">
            {%  if trips  %}
            <li role="presentation" class="active">
                <a href="#trips" aria-controls="trips" role="tab" data-toggle="tab">
                    Trips <span class="badge">{{ trips | length }}</span>
                </a>
            </li>
            {% endif %}
            {%  if events  %}
            <li role="presentation">
                <a href="#events" aria-controls="events" role="tab" data-toggle="tab">
                    Events <span class="badge">{{ events | length }}</span>
                </a>
            </li>
            {% endif %}
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="trips">
                {% for trip in trips %}
                    <div class="media">
                        <div class="media-left">
                            {% if trip.photos %}
                            <a href="{% url 'trip' trip.id %}">
                              <img class="media-object img-thumbnail" src="/media/{{ trip.photos.0.photo }}" alt="{{ trip.title }}" width="100" onerror="this.src='{% static 'img/no-image-featured-image.png' %}'">
                            </a>
                            {% endif %}
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">
                                <a href="{% url 'trip' trip.id %}">{{ trip }}</a>
                            </h4>
                            {{ trip.description }}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div role="tabpanel" class="tab-pane" id="events">
                {% for event in events %}
                    <div class="media">
                        <div class="media-left">
                            <a href="{% url 'event' event.id %}">
                              <img class="media-object img-thumbnail" src="/media/{{ event.photos.0.photo }}" alt="{{ event.title }}" width="100" onerror="this.src='{% static 'img/no-image-featured-image.png' %}'">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">
                                <a href="{% url 'event' event.id %}">{{ event }}</a></h4>
                            {{ event.description }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}