{% extends 'website/base.html' %}
{% block title %}FourWinds{% endblock %}
{% load static %}
{% load page_tags %}
{% block content %}
<div id="trip" class="container">
    <ol class="breadcrumb">
        <li><a href="{% url 'travel' %}">Travel</a></li>
        <li><a href="{% url 'category_travels' trip.category.id %}">{{ trip.category }}</a></li>
        <li class="active">{{ trip }}</li>
    </ol>
    <h3>{{ trip }}</h3>
    <div id="trip-{{ trip.id }}-carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            {% for photo in trip.photos %}
                <li data-target="#trip-{{ trip.id }}-carousel"
                    data-slide-to="{{ forloop.counter }}"
                    class="{% if forloop.first %} active {% endif %}">
                </li>
            {% endfor %}
        </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
          {% for photo in trip.photos %}
            <div class="item {% if forloop.first %} active {% endif %}">
              <img src="/media/{{ photo.photo }}" alt="{{ trip.title }}">
            </div>
          {% endfor %}
      </div>
    </div>
    <hr class="space"/>
    <div class="well">
        {{ trip.description }}
    </div>
</div>

{% endblock %}