{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags home_tags static %}

{% block content %}
    <div class="container">
        <div class="row">
            {% quick_contact_form %}
            <div class="col-md-6 articles">
                <div class="article">
                    {{ page.body|richtext }}
                    {% if page.docs %}
                        <a href="{{ page.docs.url }}">
                            <img src="{% static 'img/safety-and-insureance/saftey-icon-pdf.png' %}" alt="safety and insurance"/>
                        </a>
                    {% endif %}
                </div><br>
                {% travels_home calling_page=self %}
            </div>
            {% testimonials_sidebar calling_page=self %}
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/fourwinds.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#id_phone-number").mask("(999) 999-9999");
        })
    </script>
{% endblock %}