{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags home_tags %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="margin-t-20 homepage-body-content">
                    <p>{{ page.intro | richtext }}</p>
                    <div class="row">
                        <form action="{% pageurl page %}" method="POST" class="custom-form">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>{{ field.label }}:</label>
                                        {% if field.field.required %}
                                            <span>*required</span>
                                        {% endif %}
                                        {{ field }}
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-lg pull-right">Finish</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% testimonials_slider calling_page=self %}
{% endblock %}