{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags home_tags static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="homepage-body-content margin-t-20">
                    <h3>{{ page.heading }}</h3>
                    {{ page.intro|richtext }}<br>
                    {% if is_get_quote_page or is_contact_us_page %}
                        <div class="full-width-page-social">
                            <li>
                                <a href="https://www.facebook.com/FourwindsTours/" target="_blank">
                                    <img src="{% static 'img/footer/facebook.png' %}">
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/fourwindstours" target="_blank">
                                    <img src="{% static 'img/footer/twitter.png' %}">
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/company-beta/6569482/" target="_blank">
                                    <img src="{% static 'img/footer/linkedin.png' %}">
                                </a>
                            </li>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- Google Code for Get a Quote Form Conversion Page -->
    {% if is_get_quote_page %}
        <script type="text/javascript">
            /* <![CDATA[ */
            var google_conversion_id = 1006262758;
            var google_conversion_language = "en";
            var google_conversion_format = "2";
            var google_conversion_color = "ffffff";
            var google_conversion_label = "cPMHCLiW_VUQ5rPp3wM";
            var google_remarketing_only = false;
            /* ]]> */
        </script>
        <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
        <noscript>
            <div style="display:inline;">
                <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/1006262758/?label=cPMHCLiW_VUQ5rPp3wM&amp;guid=ON&amp;script=0"/>
            </div>
        </noscript>
    {% endif %}
    {% testimonials_slider calling_page=self %}
{% endblock %}