{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags home_tags static%}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
    <div class="container">
        <div class="intro">{{ page.intro|richtext }}</div>

        {% for testimonial in testimonialpages %}
            <div class="item testimonial">
            {% with testimonial=testimonial.specific %}
                <h2>{{ testimonial.title }}</h2>
                <div class="testimonial-block">
                    {{ testimonial.text|richtext }}
                </div>
                <div class="clearfix"></div>
                <p class="autor">
                   -{{ testimonial.full_name }}, {{ testimonial.organization }},
                    {{ testimonial.trip_event }},  {{ testimonial.date|parse_date:"%Y-%m"|date:"F Y" }}
                </p>
            {% endwith %}
            </div>
        {% endfor %}

        {% if testimonialpages.paginator.num_pages > 1 %}
        <ul class="pager">
            {% if testimonialpages.has_previous %}
                <li class="previous"><a href="?page={{ testimonialpages.previous_page_number }}">&larr; Previous</a></li>
            {% endif %}

            <span class="current">
                Page {{ testimonialpages.number }} of {{ testimonialpages.paginator.num_pages }}
            </span>

            {% if testimonialpages.has_next %}
                <li class="next"><a href="?page={{ testimonialpages.next_page_number }}">Next &rarr;</a></li>
            {% endif %}
        </ul>
        {% endif %}
    </div>
{% endblock %}