{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags static%}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
   <h1 class="title">{{ page.title }}</h1>

    <div>{{ page.text|richtext }}</div>
    <p class="autor">
        - {{ page.full_name }}, {{ page.organization }},
                {{ page.trip_event }}
                {{ page.date }}
    </p>
    <p><a class="btn btn-link" href="{{ page.get_parent.url }}">Return to testimonials</a></p>
{% endblock %}