{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags home_tags %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="homepage-body-content margin-t-20">
                    <h3>{{ page.heading }}</h3>
                    {{ page.intro|richtext }}<br>
                </div>
            </div>
        </div>
    </div>
    <!-- Google Code for Get a Quote Form Conversion Page -->
    <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 1006262758;
        var google_conversion_language = "en";
        var google_conversion_format = "2";
        var google_conversion_color = "ffffff";
        var google_conversion_label = "cPMHCLiW_VUQ5rPp3wM";
        var google_remarketing_only = false;
        /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
    <noscript>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/1006262758/?label=cPMHCLiW_VUQ5rPp3wM&amp;guid=ON&amp;script=0"/>
        </div>
    </noscript>
    {% testimonials_slider calling_page=self %}
{% endblock %}