{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags home_tags static%}

{% block body_class %}template-travelcategoryindexpage{% endblock %}

{% block content %}
    <div id="travel">
        {% travel_carousel calling_page=self %}
    </div>
    <div class="container event-page">
        <div class="section-header">
            <div>
                <div class="pull-right">
                    <div class="select-container">
                        <div class="select-wrapper">
                            <select class="form-control event-filter " onchange="javascript:filter_events(event)">
                                <option value="0">All</option>
                                {% for row in months %}
                                    <option value="{{ row.year_month }}"
                                    {% if year_month == row.year_month %}
                                        selected
                                    {% endif %}
                                    >{{ row.date }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                {% if request.GET.category|length %}
                    <h3>UPCOMING {{ request.GET.category|upper }} EVENTS</h3>
                {% endif %}
            </div>
        </div>
        <div class="row">
            {% for travel in travelpages %}
            <div class="col-md-6">
                <div class="event">
                    <h4>
                        {{ travel.title }}
                    </h4>
                    {{ travel.intro|richtext }}
                    <div class="learn-more">
                        <a href="{% pageurl travel %}">Learn more <span class="icon ion-chevron-right"></span><span class="icon ion-chevron-right"></span></a>
                    </div>
                </div>
            </div>
            {% empty %}
                <h3>No Upcoming Events for {{ request.GET.category }}.</h3>
            {% endfor %}
        </div>
    </div>
    {% testimonials_slider calling_page=self %}
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/jquery.jcarousel.min.js' %}"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('.jcarousel').jcarousel();
    $('.jcarousel li').mousemove(function(){
{#        $('.event-front',this).hide();#}
        $('.event-back',this).show();
    }).mouseleave(function(){
{#        $('.event-front',this).show();#}
        $('.event-back',this).hide();
    });
});
</script>
{%  endblock %}