{% load static %}
<div id="top-navbar">
        <nav class="navbar " >
            <div class="container">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav" >
                <li>
                    <a href="#">
                        HOME
                    </a>
                </li>
                <li>
                    <a href="#">
                        OUR STORY
                    </a>
                </li>
                <li>
                    <a href="#">
                        TRAVEL
                    </a>
                </li>
                <li>
                    <a href="#">
                        SAFETY &amp; INSURANCE
                    </a>
                </li>
                <li>
                    <a href="#">
                        REQUEST A QUOTE
                    </a>
                </li>
                <li>
                    <a href="#">
                        SHARE YOUR ADVENTURE
                    </a>
                </li>
                <li>
                    <a href="#">
                        BLOG
                    </a>
                </li>
                <li>
                    <a href="#">
                        CONTACT US
                    </a>
                </li>
            </ul>
                </div>
            </div>
        </nav>
    </div>