{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags home_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
    {% main_slider calling_page=page %}
    {% travel_categories %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="homepage-body-content">
                    {{page.body|richtext}}
                </div>
            </div>
        </div>
    </div>
    {% testimonials_slider calling_page=self %}
{% endblock %}