@mixin mobile_show_links {
    /* Show all menu links when navigation is toggled in mobile */
    @media only screen and (max-width: 768px){
        .footer-nav, .main-nav {
            .navbar-nav {
                float: left;
                text-align: left;
                width: 100%;
                li {
                    a {
                        &:hover {
                            color: #00b19f !important;
                            background-color: transparent !important;
                        }
                    }
                }
                .dropdown-menu {
                    display: block;
                    position: static;
                    background-color: transparent;
                    border:0 none;
                    box-shadow: none;
                    margin-top: 0;
                    position: relative;
                    width: 100%;
                    padding-left: 15px;
                    li {
                        a {
                            color: #fff !important;
                            padding:5px 15px 5px 25px;
                            line-height:20px;
                            &:hover {
                                color: #00b19f !important;
                            }
                        }
                    }
                }
            }
        }
    }
}