$gothambold: 'gothambold';
$gothambook: 'gothambook';
$gothamlight: 'gothamlight';
$gothammedium: 'gothammedium';
$Playfair-Display: 'Playfair-Display';
//colors

$dark-indigo: #102633;
$white: #fff;
$smoke:#eeeeee;
$dark-grey: #333;
$cyan: #01bdc9;
$yellow: #ffbf09;