{% load wagtailcore_tags static %}

<h2>{{ blog.title|title }}</h2>

{% if include_context == "index_page" %}
<div class="blog-intro">
    {{ blog.body|richtext|truncatewords_html:70 }}
    <a href="{% pageurl blog %}">Read the rest of this entry &raquo;</a>
</div>
{% else %}
<div class="blog-body">
    <div class="blog-container">
        <div class="">
            <div class="a2a_kit a2a_kit_size_32 a2a_floating_style a2a_vertical_style share-blog ">
                <a class="a2a_button_facebook"></a>
                <a class="a2a_button_twitter"></a>
                <a class="a2a_button_google_plus"></a>
                <a class="a2a_button_linkedin"></a>
            </div>
            <script async src="https://static.addtoany.com/menu/page.js"></script>
        </div>
        <div class="">
            {{ blog.body|richtext }}
            <div class="meta">
                <div class="tags pull-left">
                    {% if blog.tags.all %}
                        Tags:
                            {% for tag in blog.tags.all %}
                                <a href="{% url 'blog:tag' tag.slug %}/">{{ tag }}</a>{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                    {% endif %}
                </div>
                <div class="tags pull-right">
                    {% if blog.categories.all %}
                        Topics:
                            {% for cat in blog.categories.all %}
                                <a href="{% url 'blog:category' cat.category.slug %}">{{ cat.category.name }}</a>{% if not forloop.last %}, {% endif %}
                            {% endfor %} |
                    {% endif %}
                </div>
                <div class="clearfix"></div>
                <div class="tags-and-comments">

                    <div id="comments" class="comments">
                    {% if COMMENTS_APP == 'django_comments_xtd' %}
                        {% include 'blog/blog_post_comments_xtd_link.html' with blog=blog %}
                    {% elif False %}
                        <a href="{% pageurl blog %}#disqus_thread">No Comments</a>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
