@charset "UTF-8";
@font-face {
  font-family: 'gothambold';
  src: url("../fonts/gothambold-webfont.woff") format("woff"), url("../fonts/gothambold-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gothambook';
  src: url("../fonts/gothambook-webfont.woff") format("woff"), url("../fonts/gothambook-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gothamlight';
  src: url("../fonts/gothamlight-webfont.woff") format("woff"), url("../fonts/gothamlight-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gothammedium';
  src: url("../fonts/gothammedium-webfont.woff") format("woff"), url("../fonts/gothammedium-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* latin */
@font-face {
  font-family: 'Playfair-Display';
  font-style: normal;
  font-weight: 400;
  src: local("Playfair Display"), local("PlayfairDisplay-Regular"), url(../fonts/play-fair-display-italic.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* line 1, ../sass/_extends.scss */
h1 {
  font-family: "gothammedium";
}

/* line 5, ../sass/_extends.scss */
p {
  font-size: 16px;
  line-height: 1.5;
  font-family: inherit;
}

/* line 11, ../sass/_extends.scss */
a:hover {
  text-decoration: none;
}

/* line 17, ../sass/_extends.scss */
.flex-justify {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}

/*
This is the visible area of you carousel.
Set a width here to define how much items are visible.
The width can be either fixed in px or flexible in %.
Position must be relative!
*/
/* line 30, ../sass/_extends.scss */
.jcarousel {
  position: relative;
  overflow: hidden;
}
/* line 34, ../sass/_extends.scss */
.jcarousel .event-front img {
  width: 100%;
  height: auto;
}

/*
This is the container of the carousel items.
You must ensure that the position is relative or absolute and
that the width is big enough to contain all items.
*/
/* line 46, ../sass/_extends.scss */
.jcarousel ul {
  width: 20000em;
  position: relative;
  /* Optional, required in this case since it's a <ul> element */
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
These are the item elements. jCarousel works best, if the items
have a fixed width and height (but it's not required).
*/
/* line 60, ../sass/_extends.scss */
.jcarousel li {
  /* Required only for block elements like <li>'s */
  float: left;
}

/* line 1, ../sass/_header.scss */
.header-text {
  background: #eeeeee;
  font-size: 14px;
  min-height: 34px;
  padding-top: 11px;
  padding-bottom: 12px;
}
/* line 7, ../sass/_header.scss */
.header-text p {
  font-family: "gothambold";
  margin: 0;
}
/* line 10, ../sass/_header.scss */
.header-text p a {
  border: solid 1px #333;
  border-radius: 50%;
  padding: 1px 3px;
  font-size: 12px;
  color: #424242;
}

/* line 20, ../sass/_header.scss */
.top-banner {
  height: 160px;
}
/* line 22, ../sass/_header.scss */
.top-banner .banner {
  text-align: center;
  background-image: url("../img/banner/banner-bgd.png");
  background-size: cover;
}

/* line 31, ../sass/_header.scss */
.main-nav {
  text-align: center;
  background: #102633;
  border-radius: 0;
  border-color: #e7e7e7;
}
/* line 33, ../sass/_header.scss */
.main-nav .navbar-header .navbar-toggle {
  border: 1px solid #ddd;
}
/* line 35, ../sass/_header.scss */
.main-nav .navbar-header .navbar-toggle .icon-bar {
  background-color: #fff;
}
/* line 44, ../sass/_header.scss */
.main-nav .navbar-nav {
  display: inline-block;
  float: none !important;
  vertical-align: top;
}
/* line 49, ../sass/_header.scss */
.main-nav .navbar-nav li a {
  font-size: 15px;
  color: #fff;
  font-weight: bold;
}
/* line 53, ../sass/_header.scss */
.main-nav .navbar-nav li a:hover {
  color: #00b19f;
  background-color: white;
}
/* line 60, ../sass/_header.scss */
.main-nav .navbar-nav .open .highlighted {
  color: #00b19f !important;
  background-color: white;
}
/* line 67, ../sass/_header.scss */
.main-nav .navbar-nav .dropdown-menu li a {
  color: #333;
}
/* line 69, ../sass/_header.scss */
.main-nav .navbar-nav .dropdown-menu li a:hover {
  background-color: #e8e8e8;
  background-image: -webkit-linear-gradient(top, #f5f5f5 0, #e8e8e8 100%);
  background-image: -o-linear-gradient(top, #f5f5f5 0, #e8e8e8 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e8e8e8));
  background-image: linear-gradient(to bottom, #f5f5f5 0, #e8e8e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
  background-repeat: repeat-x;
  color: #333 !important;
}

/* line 85, ../sass/_header.scss */
.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0px;
  border: 0px;
}

/* Show all menu links when navigation is toggled in mobile */
@media only screen and (max-width: 768px) {
  /* line 5, ../sass/_mixins.scss */
  .footer-nav .navbar-nav, .main-nav .navbar-nav {
    float: left;
    text-align: left;
    width: 100%;
  }
  /* line 11, ../sass/_mixins.scss */
  .footer-nav .navbar-nav li a:hover, .main-nav .navbar-nav li a:hover {
    color: #00b19f !important;
    background-color: transparent !important;
  }
  /* line 17, ../sass/_mixins.scss */
  .footer-nav .navbar-nav .dropdown-menu, .main-nav .navbar-nav .dropdown-menu {
    display: block;
    position: static;
    background-color: transparent;
    border: 0 none;
    box-shadow: none;
    margin-top: 0;
    position: relative;
    width: 100%;
    padding-left: 15px;
  }
  /* line 28, ../sass/_mixins.scss */
  .footer-nav .navbar-nav .dropdown-menu li a, .main-nav .navbar-nav .dropdown-menu li a {
    color: #fff !important;
    padding: 5px 15px 5px 25px;
    line-height: 20px;
  }
  /* line 32, ../sass/_mixins.scss */
  .footer-nav .navbar-nav .dropdown-menu li a:hover, .main-nav .navbar-nav .dropdown-menu li a:hover {
    color: #00b19f !important;
  }
}
/* line 94, ../sass/_header.scss */
.sub-arrow {
  display: none;
}

/* line 98, ../sass/_header.scss */
a[href^="tel:"] {
  text-decoration: none;
  border: 0px !important;
}

/* line 3, ../sass/_footer.scss */
#footer #menu-footer .footer-nav {
  background-color: #071116;
}
/* line 7, ../sass/_footer.scss */
#footer #menu-footer .footer-nav .container .navbar-header .navbar-toggle {
  float: none;
  border: 1px solid #ddd;
  text-align: center;
}
/* line 10, ../sass/_footer.scss */
#footer #menu-footer .footer-nav .container .navbar-header .navbar-toggle .icon-bar {
  background-color: #fff;
}
/* line 17, ../sass/_footer.scss */
#footer #menu-footer .footer-nav .container #footer-nav .navbar-nav {
  float: none;
  margin: 0 auto;
  display: table;
  table-layout: fixed;
}
/* line 22, ../sass/_footer.scss */
#footer #menu-footer .footer-nav .container #footer-nav .navbar-nav a {
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  font-family: "Helvetica Neue", "Helvetica", "Arial" , sans-serif;
  padding-bottom: 15px;
}
/* line 28, ../sass/_footer.scss */
#footer #menu-footer .footer-nav .container #footer-nav .navbar-nav a:hover, #footer #menu-footer .footer-nav .container #footer-nav .navbar-nav a.highlighted {
  color: #00b19f;
  background-color: #fff;
}
/* line 36, ../sass/_footer.scss */
#footer #menu-footer .footer-nav .container #footer-nav .navbar-nav li .dropdown-menu li a {
  padding-bottom: 5px;
  font-size: 14px;
  color: #000;
}
/* line 48, ../sass/_footer.scss */
#footer #menu-footer .social {
  margin-top: 20px;
}
/* line 52, ../sass/_footer.scss */
#footer #menu-footer .social li a img {
  width: 30px;
  height: 30px;
}
/* line 61, ../sass/_footer.scss */
#footer #menu-footer .policies li a {
  font-size: 12px;
  color: #999999;
  padding: 2px 5px;
}

/* Show all menu links when navigation is toggled in mobile */
@media only screen and (max-width: 768px) {
  /* line 5, ../sass/_mixins.scss */
  .footer-nav .navbar-nav, .main-nav .navbar-nav {
    float: left;
    text-align: left;
    width: 100%;
  }
  /* line 11, ../sass/_mixins.scss */
  .footer-nav .navbar-nav li a:hover, .main-nav .navbar-nav li a:hover {
    color: #00b19f !important;
    background-color: transparent !important;
  }
  /* line 17, ../sass/_mixins.scss */
  .footer-nav .navbar-nav .dropdown-menu, .main-nav .navbar-nav .dropdown-menu {
    display: block;
    position: static;
    background-color: transparent;
    border: 0 none;
    box-shadow: none;
    margin-top: 0;
    position: relative;
    width: 100%;
    padding-left: 15px;
  }
  /* line 28, ../sass/_mixins.scss */
  .footer-nav .navbar-nav .dropdown-menu li a, .main-nav .navbar-nav .dropdown-menu li a {
    color: #fff !important;
    padding: 5px 15px 5px 25px;
    line-height: 20px;
  }
  /* line 32, ../sass/_mixins.scss */
  .footer-nav .navbar-nav .dropdown-menu li a:hover, .main-nav .navbar-nav .dropdown-menu li a:hover {
    color: #00b19f !important;
  }
}
/* line 1, ../sass/_landing.scss */
.masthead {
  background-image: url("../images/header.png");
  background-size: cover;
  height: 500px;
  padding: 30px;
}
/* line 8, ../sass/_landing.scss */
.masthead .cta {
  width: 30%;
  background: rgba(255, 255, 255, 0.75);
}
/* line 11, ../sass/_landing.scss */
.masthead .cta .info {
  width: 99%;
}

/* line 17, ../sass/_landing.scss */
.cta {
  padding-top: 40px;
}
/* line 19, ../sass/_landing.scss */
.cta .cta-button {
  width: 233px;
  height: 54px;
  background-image: linear-gradient(to top, #f2b705, #f2c22f);
  box-shadow: 0px 2px 5.5px 2.5px rgba(0, 0, 0, 0.16);
  color: #fff;
  padding: 19px 30px;
  border-radius: 93px;
  font-size: 18px;
  font-family: "gothambold";
  text-decoration: none;
}
/* line 31, ../sass/_landing.scss */
.cta .or {
  margin: 40px auto;
  font-family: "gothambold";
}
/* line 35, ../sass/_landing.scss */
.cta .cta-form {
  border: solid 1px #eeeeee;
}
/* line 37, ../sass/_landing.scss */
.cta .cta-form .form-title {
  background: #01bdc9;
  padding-top: 14px;
  padding-bottom: 14px;
  text-align: center;
  color: #102633;
  font-family: "gothambold";
  font-size: 21px;
}
/* line 46, ../sass/_landing.scss */
.cta .cta-form form {
  padding: 20px;
  background-color: #e8ebef;
}
/* line 49, ../sass/_landing.scss */
.cta .cta-form form .form-control {
  border: solid 0.5px #c6c6c6;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 54, ../sass/_landing.scss */
.cta .cta-form form button {
  background-color: #ffbf09;
  border-radius: 100px;
  color: #fff;
  padding: 7px 16px;
  font-family: "gothambold";
}

/* line 65, ../sass/_landing.scss */
.articles {
  padding: 0 20px;
}
/* line 67, ../sass/_landing.scss */
.articles .section-banner {
  height: 150px;
  overflow: hidden;
}
/* line 71, ../sass/_landing.scss */
.articles .article {
  padding-top: 40px;
}
/* line 74, ../sass/_landing.scss */
.articles .article .rich-text img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* line 81, ../sass/_landing.scss */
.articles .sub-articles {
  margin-top: 50px;
}
/* line 83, ../sass/_landing.scss */
.articles .sub-articles .title {
  margin-bottom: 10px;
  font-family: "gothammedium";
}
/* line 87, ../sass/_landing.scss */
.articles .sub-articles .content {
  margin: 20px 0 10px;
  line-height: 1.5;
  text-align: justify;
}
/* line 92, ../sass/_landing.scss */
.articles .sub-articles .sub-articles {
  padding: 0;
}
/* line 95, ../sass/_landing.scss */
.articles .sub-articles .rich-text {
  height: 120px;
  overflow: hidden;
}

/* line 103, ../sass/_landing.scss */
.sub-articles img {
  max-width: 100%;
  max-height: 134px;
  overflow: hidden;
}

/* line 110, ../sass/_landing.scss */
.testimonials {
  margin-top: 40px;
}
/* line 112, ../sass/_landing.scss */
.testimonials .title {
  font-family: "gothammedium";
  margin-bottom: 40px;
}
/* line 116, ../sass/_landing.scss */
.testimonials .rich-text p {
  font-family: "Playfair-Display";
  font-style: italic;
  line-height: 2;
}
/* line 120, ../sass/_landing.scss */
.testimonials .rich-text p span {
  font-size: 2em;
}
/* line 123, ../sass/_landing.scss */
.testimonials .rich-text p img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* line 129, ../sass/_landing.scss */
.testimonials .customer {
  padding-left: 25%;
}
/* line 131, ../sass/_landing.scss */
.testimonials .customer .name {
  font-size: 14px;
}
/* line 135, ../sass/_landing.scss */
.testimonials .more-testimonials {
  background-color: #0d2633;
  border-radius: 100px;
  color: #f2b705;
  width: 200px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 30px;
  font-family: gotham-bold-regular;
}
/* line 145, ../sass/_landing.scss */
.testimonials .more-testimonials:hover {
  color: #fff;
}

/* line 150, ../sass/_landing.scss */
.homepage-body-content {
  background: #eeeeee;
  padding: 40px;
  color: #102633;
}
/* line 156, ../sass/_landing.scss */
.homepage-body-content .row form .btn-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 163, ../sass/_landing.scss */
.homepage-body-content .back-btn {
  background-image: none;
  background-color: #102633;
  color: #fff;
  padding: 10px 15px;
  border-radius: 100px;
}
/* line 169, ../sass/_landing.scss */
.homepage-body-content .back-btn:active {
  background-color: #102633;
  color: #fff;
}

/* line 176, ../sass/_landing.scss */
.carousel-caption {
  padding-bottom: 5%;
}

/* line 180, ../sass/_landing.scss */
.widgets-controller {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 185, ../sass/_landing.scss */
.widgets-controller .jcarousel-control-prev img, .widgets-controller .jcarousel-control-next img {
  background-color: #ddd;
  padding: 10px 15px;
  border-radius: 20px;
}

@media (min-width: 320px) and (max-width: 767px) {
  /* line 196, ../sass/_landing.scss */
  #main-carousel .left .icon, #main-carousel .right .icon {
    width: 30px;
    height: 30px;
    border-radius: 20px;
  }
  /* line 204, ../sass/_landing.scss */
  #main-carousel .carousel-inner .item .carousel-image {
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center center;
  }
  /* line 214, ../sass/_landing.scss */
  #main-carousel .carousel-caption {
    margin-bottom: 30px;
  }
  /* line 216, ../sass/_landing.scss */
  #main-carousel .carousel-caption img {
    height: 150px;
  }
  /* line 219, ../sass/_landing.scss */
  #main-carousel .carousel-caption .cta {
    padding-top: 20px;
    margin-bottom: 0px;
  }
  /* line 222, ../sass/_landing.scss */
  #main-carousel .carousel-caption .cta .cta-button {
    font-size: 12px;
    padding: 12px 16px;
  }

  /* line 230, ../sass/_landing.scss */
  .jcarousel-control-prev img, .jcarousel-control-next img {
    padding: 5px 8px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 239, ../sass/_landing.scss */
  #main-carousel .left .icon, #main-carousel .right .icon {
    width: 30px;
    height: 30px;
    border-radius: 20px;
  }
  /* line 247, ../sass/_landing.scss */
  #main-carousel .carousel-inner .item .carousel-image {
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position: center center;
  }
  /* line 257, ../sass/_landing.scss */
  #main-carousel .carousel-caption {
    margin-bottom: 80px;
  }
  /* line 259, ../sass/_landing.scss */
  #main-carousel .carousel-caption img {
    height: 200px;
  }
}
@media (min-width: 1025px) and (max-width: 1599px) {
  /* line 269, ../sass/_landing.scss */
  #main-carousel .left .icon, #main-carousel .right .icon {
    width: 30px;
    height: 30px;
    border-radius: 20px;
  }
  /* line 277, ../sass/_landing.scss */
  #main-carousel .carousel-inner .item .carousel-image {
    height: 610px;
    width: 100%;
    background-size: cover;
    background-position: center center;
  }
  /* line 287, ../sass/_landing.scss */
  #main-carousel .carousel-caption {
    margin-bottom: 100px;
  }
}
@media (min-width: 1600px) {
  /* line 296, ../sass/_landing.scss */
  #main-carousel .left .icon, #main-carousel .right .icon {
    width: 30px;
    height: 30px;
    border-radius: 20px;
  }
  /* line 304, ../sass/_landing.scss */
  #main-carousel .carousel-inner .item .carousel-image {
    height: 610px;
    width: 100%;
    background-size: cover;
    background-position: center center;
  }
  /* line 314, ../sass/_landing.scss */
  #main-carousel .carousel-caption {
    margin-bottom: 50px;
  }
}
/* line 3, ../sass/_pages.scss */
.event-page .section-header {
  border-top: solid 2px #102633;
  border-bottom: solid 2px #102633;
  margin-top: 50px;
}
/* line 7, ../sass/_pages.scss */
.event-page .section-header h3 {
  font-family: "gothambold";
  margin-top: 20px;
  margin-bottom: 18px;
  line-height: 1.5;
}
/* line 13, ../sass/_pages.scss */
.event-page .section-header .select-container {
  background: #eeeeee;
}
/* line 15, ../sass/_pages.scss */
.event-page .section-header .select-container .select-wrapper {
  background: url(../img/widgets/select-arrow.png) no-repeat right center;
  height: 34px;
  width: 240px;
  overflow: hidden;
}
/* line 20, ../sass/_pages.scss */
.event-page .section-header .select-container .select-wrapper .event-filter {
  border: none;
  box-shadow: none;
  font-size: 16px;
  height: 34px;
  width: 268px;
  background: transparent;
  color: #102633;
  font-family: "gothammedium";
}
/* line 29, ../sass/_pages.scss */
.event-page .section-header .select-container .select-wrapper .event-filter option {
  width: 268px;
}
/* line 36, ../sass/_pages.scss */
.event-page .event {
  margin-bottom: 45px;
}
/* line 38, ../sass/_pages.scss */
.event-page .event h4 {
  margin-top: 30px;
  color: #01bdc9;
  font-family: "gothambold";
}
/* line 43, ../sass/_pages.scss */
.event-page .event p {
  font-family: "gothammedium";
  color: #102633;
  line-height: 1.4;
  letter-spacing: -0.2px;
  margin-bottom: 20px;
}
/* line 50, ../sass/_pages.scss */
.event-page .event .learn-more {
  margin-top: 30px;
}
/* line 52, ../sass/_pages.scss */
.event-page .event .learn-more a {
  color: #ffbf09;
  background: #102633;
  padding: 15px 22px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "gothambold";
}
/* line 59, ../sass/_pages.scss */
.event-page .event .learn-more a .icon {
  font-size: 8px;
}

/* line 68, ../sass/_pages.scss */
#widgets {
  margin-bottom: 50px;
}
/* line 70, ../sass/_pages.scss */
#widgets .item {
  min-width: 320px;
  padding-right: 20px;
}
/* line 74, ../sass/_pages.scss */
#widgets .widget-item {
  width: 100%;
}
/* line 76, ../sass/_pages.scss */
#widgets .widget-item .content {
  width: 320px;
  background: #102834;
  color: #f3b701;
  font-family: "gothambold";
  padding-bottom: 45px;
  border-bottom: solid 5px #01bdc9;
}
/* line 83, ../sass/_pages.scss */
#widgets .widget-item .content p {
  font-size: 14px;
  margin-bottom: 0;
  font-family: "gothammedium";
}
/* line 88, ../sass/_pages.scss */
#widgets .widget-item .content h3 {
  margin: 0 5px 5px;
}
/* line 92, ../sass/_pages.scss */
#widgets .widget-item .learn-more {
  width: 80%;
  margin: 0 auto;
  background: #01bdc9;
  color: #102834;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: -25px;
}
/* line 100, ../sass/_pages.scss */
#widgets .widget-item .learn-more a {
  font-family: "gothambold";
  text-decoration: none;
  color: #102834;
}
/* line 104, ../sass/_pages.scss */
#widgets .widget-item .learn-more a:hover {
  color: #102834;
}

/* line 112, ../sass/_pages.scss */
.widgets-controller {
  margin: 30px;
}
/* line 114, ../sass/_pages.scss */
.widgets-controller .text-uppercase {
  font-size: 16px;
  margin-bottom: 0;
  font-family: "gothammedium";
  color: #102834;
}
/* line 120, ../sass/_pages.scss */
.widgets-controller a {
  margin: 20px;
}

/* line 126, ../sass/_pages.scss */
.testimonial-caption {
  width: 100%;
  height: 432px;
  background-image: url("../img/bottom/testimony-bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: -93px;
}
/* line 135, ../sass/_pages.scss */
.testimonial-caption p {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  margin-top: 157px;
  text-transform: uppercase;
  font-family: "gothambold";
}

/* line 147, ../sass/_pages.scss */
.blog-container {
  display: flex;
}
/* line 149, ../sass/_pages.scss */
.blog-container .share-blog {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0;
  margin-left: -65px;
  margin-right: 17px;
}

/* line 158, ../sass/_pages.scss */
.blog-img {
  width: 100%;
  overflow: hidden;
}
/* line 161, ../sass/_pages.scss */
.blog-img img {
  width: 100%;
}

/* line 166, ../sass/_pages.scss */
.margin-t-20 {
  margin-top: 20px;
}

/* line 170, ../sass/_pages.scss */
.submit-btn {
  background-color: #01bdc9;
  color: #000;
}

/* line 175, ../sass/_pages.scss */
.tours-container {
  margin-top: 20px;
}
/* line 178, ../sass/_pages.scss */
.tours-container .articles h3 {
  margin-bottom: 20px;
}
/* line 183, ../sass/_pages.scss */
.tours-container .panel:hover {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
  transition: 0.25s;
}
/* line 189, ../sass/_pages.scss */
.tours-container .panel .panel-heading {
  padding: 0px;
}
/* line 191, ../sass/_pages.scss */
.tours-container .panel .panel-heading .panel-image {
  width: 100%;
  height: 217px;
  overflow: hidden;
}
/* line 198, ../sass/_pages.scss */
.tours-container .panel .panel-body h3 {
  margin-top: 0px;
  text-align: center;
}
/* line 201, ../sass/_pages.scss */
.tours-container .panel .panel-body h3 a {
  color: #01bdc9;
}
/* line 205, ../sass/_pages.scss */
.tours-container .panel .panel-body p {
  text-align: center;
}
/* line 208, ../sass/_pages.scss */
.tours-container .panel .panel-body .view-tour {
  text-align: center;
}
/* line 210, ../sass/_pages.scss */
.tours-container .panel .panel-body .view-tour a {
  color: #01bdc9;
}

/* line 219, ../sass/_pages.scss */
.custom-form input, .custom-form select, .custom-form textarea {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: solid 0.5px #c6c6c6;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 234, ../sass/_pages.scss */
.custom-form textarea {
  height: 100px;
}
/* line 237, ../sass/_pages.scss */
.custom-form button {
  background-color: #ffbf09;
  color: #fff;
  margin-top: 10px;
  font-family: "gothambold";
  border-radius: 100px;
}
/* line 243, ../sass/_pages.scss */
.custom-form button:hover {
  color: #fff;
}

/* line 249, ../sass/_pages.scss */
.breadcrumb-wrapper {
  margin-top: 20px;
}
/* line 251, ../sass/_pages.scss */
.breadcrumb-wrapper .breadcrumb {
  margin-bottom: 0px;
}
/* line 254, ../sass/_pages.scss */
.breadcrumb-wrapper .breadcrumb li a {
  color: #01bdc9;
}

/* line 263, ../sass/_pages.scss */
.testimonial-block .rich-text p {
  font-size: 16px;
  line-height: 30px;
}
/* line 267, ../sass/_pages.scss */
.testimonial-block .rich-text p:first-child::before {
  content: '“';
  font-size: 20px;
}
/* line 273, ../sass/_pages.scss */
.testimonial-block .rich-text p:last-child::after {
  content: "”";
  font-size: 20px;
}

/* line 282, ../sass/_pages.scss */
.pager {
  max-width: 850px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
/* line 288, ../sass/_pages.scss */
.pager li a {
  color: #01bdc9;
}
/* line 292, ../sass/_pages.scss */
.pager li:hover a {
  background-color: #102633;
  color: #fff;
}

/* line 300, ../sass/_pages.scss */
#gmap {
  height: 300px !important;
}
