{% load static wagtailuserbar wagtailembeds_tags home_tags cache%}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/ionicons.min.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/fourwinds.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body id="page">
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        {% wagtailuserbar %}
        {% block menu %}
            {% get_site_root as site_root %}
            {% top_menu parent=site_root calling_page=self %}
        {% endblock %}
        <div class="container">
            <div class="row">
                {% block content %}{% endblock %}
            </div>
        </div>
{#        Footer#}
        <div id="footer">

            <div class="text-center affiliates">
                <p class="title">
                    <span>OUR AFFILIATES</span>
                </p>
                <img src="{% static 'img/footer/footer-affiliates.png' %}" alt="affiliates">
            </div>
            <div id="menu-footer" class="text-center">

                    <ul class="nav navbar-nav" >
                        <li>
                            <a href="#">
                                HOME
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                OUR STORY
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                TRAVEL
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                SAFETY &amp; INSURANCE
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                REQUEST A QUOTE
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                SHARE YOUR ADVENTURE
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                CAREERS
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                BLOG
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                CONTACT US
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav policies">
                        <li>
                            <a href="#">
                                Disclaimer and Payment Schedule
                            </a>
                        </li>
                        <li>
                            <a>|</a>
                        </li>
                        <li>
                            <a href="#">
                                Airline Disclaimer and Payment Schedule
                            </a>
                        </li>
                        <li>
                            <a>|</a>
                        </li>
                        <li>
                            <a href="#">
                                Privacy Policy
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav social">
                        <li>
                            <a href="#">
                                <span class="facebook"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="instagram"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="twitter"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="pinterest"></span>
                            </a>
                        </li>
                    </ul>
                <div class="clearfix"></div>
            </div>
            <div id="contact-info" class="text-center">
                <div>
                    <span class="title">NEW YORK</span>
                    <address>
                        30 Jericho Executive Plaza, Suite 500E<br/>Jericho, NY 11753<br/>
                        <span>direct <b>516.334.2400</b>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;toll-free <b>800.896.3858</b>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;fax <b>516.334.2466</b></span>
                    </address>

                </div>
                <div>
                    <span class="title">CALIFORNIA</span>
                    <address>
                        7472 La Jolla Blvd, <br/>La Jolla, CA 92037<br/>
                        <span>direct <b>858.900.3526</b>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;toll-free <b>888.933.3422</b></span>
                    </address>

                </div>
                <div>
                    <address>
                        &copy; 2016 Four Winds International Tours & Travel. All Rights Reserved.<br/>
    website by: andreafoglia.com
                    </address>

                </div>
            </div>
        </div>
{#        End footer#}

        {# Global javascript #}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script type="text/javascript" src="{% static 'js/fourwinds.js' %}"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <script src="{% static 'js/jquery.jcarousel.min.js' %}"></script>
        <script src="{% static 'js/jquery.bootstrap-dropdown-hover.min.js' %}"></script>
        <script type="text/javascript">
        function jcarousel_move(left){
            var direction = "+=1";
            if(left){
                direction = "-=1";
            }
            $('.jcarousel').jcarousel('scroll',direction);
        }
        $(document).ready(function(){
            $('.jcarousel').jcarousel({
                list: '.jcarousel-list',
                items: '.jcarousel-item'
            });
            $('#top-navbar #travel-link').on('mouseover', function(e){
                $('#top-navbar > [data-toggle="dropdown"]').trigger('mouseover');
            });
            $('#top-navbar #travel-dropdown-button');
            $('#top-navbar > [data-toggle="dropdown"]').bootstrapDropdownHover({
              // see next for specifications
            });
{#            $("#travel-menu").load("{% url 'travel_info' %}");#}
        });
        </script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
        <script type="text/javascript">
            $.validate({
                modules : 'sanitize'
            });
        </script>
        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
