{% load static %}
{#  Footer#}
    <div id="footer">

        <div class="text-center affiliates">
            <p class="title">
                <span>OUR AFFILIATES</span>
            </p>
            <img src="{% static 'img/footer/footer-affiliates.png' %}" alt="affiliates">
        </div>
        <div id="menu-footer" class="text-center">

                <ul class="nav navbar-nav" >
                    <li>
                        <a href="{% url 'index' %}">
                            HOME
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            OUR STORY
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            TRAVEL
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'safety_insurance' %}">
                            SAFETY &amp; INSURANCE
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            REQUEST A QUOTE
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            SHARE YOUR ADVENTURE
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            CAREERS
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            BLOG
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            CONTACT US
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav policies">
                    <li>
                        <a href="#">
                            Disclaimer and Payment Schedule
                        </a>
                    </li>
                    <li>
                        <a>|</a>
                    </li>
                    <li>
                        <a href="#">
                            Airline Disclaimer and Payment Schedule
                        </a>
                    </li>
                    <li>
                        <a>|</a>
                    </li>
                    <li>
                        <a href="#">
                            Privacy Policy
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav social">
                    <li>
                        <a href="#">
                            <span class="facebook"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="instagram"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="twitter"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="pinterest"></span>
                        </a>
                    </li>
                </ul>
            <div class="clearfix"></div>
        </div>
        <div id="contact-info" class="text-center">
            <div>
                <span class="title">NEW YORK</span>
                <address>
                    30 Jericho Executive Plaza, Suite 500E<br/>Jericho, NY 11753<br/>
                    <span>direct <b>516.334.2400</b>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;toll-free <b>800.896.3858</b>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;fax <b>516.334.2466</b></span>
                </address>

            </div>
            <div>
                <span class="title">CALIFORNIA</span>
                <address>
                    1010 Tourmaline Street<br/>San Diego, CA 92109<br/>
                    <span>direct <b>858.900.3526</b>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;toll-free <b>888.933.3422</b></span>
                </address>

            </div>
            <div>
                <address>
                    &copy; 2016 Four Winds International Tours & Travel. All Rights Reserved.<br/>
website by: andreafoglia.com
                </address>

            </div>
        </div>
    </div>
{#  End  Footer#}