{% load static %}
{#    Testimonials#}
            <div class="text-center testimonials">
                <h3 class="font-size-14 bold-regular">
                    SEE WHAT OUR GUESTS HAVE TO SAY...
                </h3>
                <div class="box">
                    <div id="testimonials-carousel" class="container carousel" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">

                            {%  for row in testimonials %}
                            <div class="item testimonial {%  if forloop.counter == 1 %} active {% endif %}">
                                <p>
                                    <img src="{% static 'img/testimonial/quote.png' %}" alt="" class="quote">
                                    {{ row.text }}
                                </p>
                                <p class="autor">
                                    - {{ row.full_name }}, {{ row.organization }},
                                        {{ row.trip }}
                                        {% if row.event %}
                                        trip with {{ row.event }},
                                        {% endif %}
                                        {{ row.date }}

                                </p>
                            </div>
                            {% endfor %}
                        </div>
                        <!-- Controls -->
                          <a class="left carousel-control" href="#testimonials-carousel" role="button" data-slide="prev">
                            <span class="icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="right carousel-control" href="#testimonials-carousel" role="button" data-slide="next">
                            <span class="icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                          </a>
                    </div>
                    <a class="btn btn-submit" href="{% url 'testimonials' %}">
                        MORE TESTIMONIALS
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
            <br/>
            <br/>
        </div>
    {#  End Testimonials#}