{% load static %}
    <div class="text-center" id="top-bar">
        <span>SPECIALIZING IN PRIVATE CUSTOM STUDENT TOURS FOR OVER TWO DECADES</span>
        |
        <span>CALL FOR A CUSTOM QUOTE (800) 896-3858</span>
        |
        <span>
            <a href="#">
                <img src="{% static 'img/top-bar/icon-search.png' %}" alt="search"/>
            </a>
        </span>
    </div>
    <div class="text-center" id="top-banner">
        <a href="{% url 'index' %}">
            <img src="{% static 'img/banner/banner-logo.png' %}" alt="FourWinds Logo">
        </a>
    </div>