{% load static %}
{#    Welcome and sign in#}

    <div class="container">
        <div class="col-md-6 ">
            <div class="row">
                <div class="col-sm-12 box welcome">
                    <h3>Welcome to Four Winds Tours.</h3>
                    <p>
                        We are a full-service educational, student and group tour operator located in Jericho,
                        NY. Since 1994 we have serviced group travel needs for organizations nationwide including:
                        schools, non-profits, camps, and other youth organizations.
                    </p>
                    <p>
                        We specialize in student group tours.
                        Our travel consultants customize trips to any destinationin the United States,
                        Canada and any international destination of your choice.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-sm-12 box sign-in">
                    <h3>Share Your Adventure</h3>
                    <div> Comming soon...</div>
{#                    <form>#}
{#                        <div class="form-group">#}
{#                            <input class="form-control" type="text" name="username" placeholder="Username">#}
{#                        </div>#}
{#                        <div class="form-group">#}
{#                            <input class="form-control" type="password" name="password" placeholder="Password">#}
{#                        </div>#}
{#                        <br/>#}
{#                        <div class="form-group">#}
{#                            <input class="btn btn-submit" type="submit" value="SIGN IN"/>#}
{#                        </div>#}
{##}
{#                    </form>#}
                </div>
            </div>
        </div>
    </div>
{#    End Welcome and sign in#}