{% load static %}
{#    Widgets#}
    <div id="widget-venue-categories jcarousel-wrapper">
        <div class="text-center" id="widget-venues-control">
            <a href="javascript:jcarousel_move(true);" class="left jcarousel-control-prev" data-jcarouselcontrol="true">
                <span class="icon"></span>
            </a>
            <span >SELECT YOUR DOMESTIC OR INTERNATIONAL VENUE OF INTEREST</span>
            <a href="javascript:jcarousel_move(false);" class="right jcarousel-control-next" data-jcarouselcontrol="true">
                <span class="icon"></span>
            </a>
        </div>
       <div class="jcarousel">
            <ul class="jcarousel-list">
                {% for cat in categories %}
                <li class="jcarousel-item">
                    <div class="widget-venue">
                        <div class="widget-venue-header" style="background: url('{% get_media_prefix %}{{ cat.widget_top_bg }}') top no-repeat"></div>
                        <div class="widget-venue-body">
                            <p>
                                {{ cat.caption | safe}}
                            </p>
                        </div>
                        <div class="widget-venue-footer text-center">
                            <a href="{% url 'category_travels' cat.id %}" class="btn-learn-more text-center">
                                LEARN MORE
                            </a>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{#    End Widgets#}
