<div class="row">
<div class="form-group">
    <div class="col-md-6">
        <label for="id_firstname">Firstname:</label><input id="id_firstname" maxlength="255" name="firstname" type="text" required="" class="form-control">
    </div>
    <div class="col-md-6">
        <label for="id_lastname">Lastname:</label>
        <input id="id_lastname" maxlength="255" name="lastname" type="text" required="" class="form-control">
    </div>
     <div class="col-md-6">
        <label for="id_email-address">Email address:</label>
        <input id="id_email-address" name="email-address" type="email" required="" class="form-control">
    </div>
    <div class="col-md-6">
        <label for="id_phone-number">Phone number:</label>
        <input id="id_phone-number" name="phone-number" step="any" type="number" required="" class="form-control">
    </div>
    <div class="col-md-6">
        <label for="id_school-name">School name:</label>
        <input id="id_school-name" maxlength="255" name="school-name" type="text" required="" class="form-control">
    </div>
    <div class="col-md-6">
        <label for="id_school-zip">School ZIP:</label>
        <input id="id_school-zip" name="school-zip" step="any" type="number" required="" class="form-control">
    </div>
    <div class="col-md-6">
        <label for="id_code-role">Code role:</label>
        <select id="id_code-role" name="code-role" required="" class="form-control">
            <option value="">Please choose</option>
            <option value="Teacher">Teacher</option>
            <option value="Student">Student</option>
            <option value="Parent">Parent</option>
            <option value="Administrator">Administrator</option>
        </select>
    </div>
    <div class="col-md-6">
        <label for="id_type-of-trip">Type of trip:</label>
        <select id="id_type-of-trip" name="type-of-trip" required="" class="form-control">
            <option value="">Please choose</option>
            <option value="Band">Band</option>
            <option value="Orchestra">Orchestra</option>
            <option value="Chorus">Chorus</option>
            <option value="Senior">Senior</option>
            <option value="International">International</option>
            <option value="Other">Other</option>
        </select>
    </div>
    <div class="col-md-6">
        <label for="id_estimated-trip-year">Estimated trip year:</label>
        <select id="id_estimated-trip-year" name="estimated-trip-year" required="" class="form-control">
            <option value="">Please choose</option>
            <option value="2017">2017</option>
            <option value="2018">2018</option>
            <option value="2019">2019</option>
        </select>
    </div>
    <div class="col-md-6">
        <label for="id_desired-destination">Desired destination:</label>
        <input id="id_desired-destination" maxlength="255" name="desired-destination" type="text" required="" class="form-control">
    </div>
    <div class="col-md-6">
        <label for="id_number-of-students">Number of students:</label><input id="id_number-of-students" name="number-of-students" step="any" type="number" required="" class="form-control">
    </div>
    <div class="col-md-6">
        <label for="id_approximate-budget">Approximate budget:</label><input id="id_approximate-budget" name="approximate-budget" step="any" type="number" required="" class="form-control">
    </div>
    <div class="col-md-12">
        <label for="id_comments">Comments:</label>
        <textarea cols="40" id="id_comments" name="comments" rows="10" required="" class="form-control"></textarea></form>
    </div>
    <div class="col-md-12">
        <hr>
        <button type="submit" class="btn btn-lg submit-btn pull-right">Finish</button>
    </div>
</div>
</div>